/* About.css */

.about-container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.6;
    color: #333;
  }
  
  .about-container h2 {
    color: #3498db;
  }
  
  .about-container p {
    margin-bottom: 20px;
  }
  
  .about-container a {
    color: #3498db;
    text-decoration: underline;
  }
  
  .about-container a:hover {
    color: #2980b9;
  }
  