/* Footer.css */

.footer-container {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    margin: 10px 0 0;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #e74c3c;
  }
  